extends layout

block content
  h4 My Photos

  .row
    each photo in photos
     .col-sm-4
       p Resort: #{photo.resort} | Date: #{photo.date}
       p Description: #{photo.description} | Filename: #{photo.originalname} | Uploaded: #{photo.createdat}
       img(src=photo.imageurl, width="250")
       p 
         button
           a(href='/express/' + photo._id) Edit Photo

  include newphoto
