
.row
  .col-mad-6.col-md-offset-3
    p Title: #{photo.title}
    P Resort: #{photo.resort} | Date: #{photo.date}
    p Description: #{photo.description} | Filename: #{photo.originalname} | Uploaded: #{photo.createdat}
    img(src=photo.imageurl, width="250")
    if flashMsg.length > 0
      .alert.alert-danger <strong>FLASH!</strong>#{flashMsg}
    form(method='post' action='/express/' + photo._id)
      div.form-group
          label(for='title') Photo Title:
          input#title.form-control(type='text', value=photo.title name='title')
      div.form-group
          label(for='description') Description:
          input#description.form-control(type='text', value=photo.description name='description')
      div.form-group
          label(for='resort') Resort:
          input#resort.form-control(type='text', value=photo.resort name='resort')
      div.form-group
          label(for='date') Photo taken on:
          input#date.form-control(type='date', value=photo.date name='date')
      div.form-group
          input#name.form-control(type='hidden', value=photo._id name='_id')
      button(type='submit' id='updateBtn') Update Your Photo Information

    form(method='post' action = '/express/delete/' + photo._id)
      button(type='submit' id='deleteBtn') Delete Photo